/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*
Main page 
 */

.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../background.jpg');
  background-size: cover; 
  background-position: center;
  font-weight: 300;
}

.booking-form {
  background: #fff;
  padding: 30px 15px 0px;
  border-radius: 4px;
  overflow: auto;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  border: none;
  height: 65px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 24px;
  color: #090a0b;
  font-weight: 300;
  background: #f2f1f1;
  border-radius: 4px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #b1b6bd;
}

.booking-form .form-control:-ms-input-placeholder {
  color: #b1b6bd;
}

.booking-form .form-control::placeholder {
  color: #b1b6bd;
}

.booking-form input[type="date"].form-control:invalid {
  color: #b1b6bd;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  text-align: center;
  pointer-events: none;
  height: 65px;
  line-height: 65px;
  color: #b1b6bd;
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: #184c8f;
  display: block;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  margin-top: 10px;
  text-transform: uppercase;
}

.booking-form .form-label:after {
  content: '';
  position: absolute;
  left: 10px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #f2f1f1 transparent transparent transparent;
}

.booking-form .form-btn {
  margin-bottom: 30px;
}

.booking-form .submit-btn {
  background: #184c8f;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  height: 90px;
  font-size: 18px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  display: block;
}
